body {
    display: flex;
    justify-content: space-between;
    padding: 3% 4.5%;
    background-color: black;
    color: white;
    font-family: monospace;
}



.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.descriptions-attacks {
    width: 25%;
    text-align: left;
}

.descriptions {
    margin-bottom: 100px;
}

.attacks {
    margin-bottom: 30px;
    font-style:italic;
}

.statusReports{
    margin-bottom: 30px;
    font-style:italic;
}

.playarea {
    width: 18%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: black;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controls {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align controls to the right */
    align-items: flex-end;
}

.control-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.btn {
    /* Your button styles */
    margin-right: 10px;
    margin-left: 10x;
   
}

.meter {
    /* Your meter styles */
    font-size:small;
    margin-bottom: 5px;
}

.meter-label {
    /* Your meter styles */
    margin-top: 5px;
    font-size:small;
}

.meter-title {
    font-size:large;
}

.thrusters {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: monospace;
    color: #ff8438;
    bottom: -8px;
}

.fire1, .fire2 {
    animation: fireAnimation 0.09s infinite linear;

}


.thrusters .fire1{
    position: relative;
    left: -55px;
    bottom: 20px;
}
.thrusters .fire2{
    position: relative;
    left: 55px;
    bottom: 20px;
}

@keyframes fireAnimation {
    0% {
        opacity: 1;
        transform: translateY(calc(60px * var(--scale-factor) * 1)) scale(var(--scale-factor)) rotate(0deg);
        color: #ad4200;
    }
    25% {
        opacity: 1;
        transform: translateY(calc(60px * var(--scale-factor) * 1.2)) scale(calc(var(--scale-factor) * 1.05)) rotate(0deg);
        color: #de5500;
    }
    50% {
        opacity: 1;
        transform: translateY(calc(60px * var(--scale-factor) * 1.5)) scale(calc(var(--scale-factor) * 1.1)) rotate(0deg);
        color: #ff6200;
    }
    75% {
        opacity: 1;
        transform: translateY(calc(60px * var(--scale-factor) * 2)) scale(calc(var(--scale-factor) * 1.2)) rotate(0deg);
        color: #ff924e;
    }
    100% {
        opacity: 1;
        transform: translateY(calc(60px * var(--scale-factor) * 2.7)) scale(calc(var(--scale-factor) * 1.1)) rotate(0deg);
        color: #ffd8c0;
    }
}


.shield {
    position: absolute;
    color: rgba(
        calc(255 - var(--shield-power) * 25.5),  /* Red component */
        calc(255 - var(--shield-power) * 25.5),  /* Green component */
        calc(255 + var(--shield-power) * 15),     /* Blue component */
        calc(0.1 + var(--shield-power) * 0.05)
    );
    animation: shieldAnimation 3s infinite linear;
}


@keyframes shieldAnimation {
    0%, 100% {
        opacity: calc(var(--shield-health) * 0.005); /* Initial and final opacity */
    }
    50% {
        opacity: calc(var(--shield-health) * 0.007); /* Higher opacity for flickering effect */
    }
}





#notificationBox {
    position: fixed;
    top: 40px;
    left: 60px;
    width: 300px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification {
    opacity: 0;
    animation: fadeInOut 7s ease-out; /* Adjust the animation duration as needed */
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    10%, 90% {
        opacity: 1;
    }
}

.ship{
    font-family: monospace;
    white-space: pre-wrap;
    font-weight: bold;
    background-color: black;
    z-index: 1;
}

@keyframes explode {
    0% { transform: scale(1); opacity: 1; color:#ffd8c0 }
    50% { transform: scale(1.5); opacity: 1; color:#fc5522 }
    100% { transform: scale(2); opacity: 0; color:#ad4200}
}

.explode {
    animation: explode 2s forwards;
}


