body {
    display: flex;
    justify-content: space-between;
    padding: 3% 4.5%;
    background-color: black;
    color: white;
    font-family: monospace;
}

.ascii{
    font-family: monospace;
    white-space: pre-wrap;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.descriptions-attacks {
    width: 25%;
    text-align: left;
}

.descriptions {
    margin-bottom: 100px;
}

.attacks {
    margin-bottom: 30px;
    font-style:italic;
}

.statusReports{
    margin-bottom: 30px;
    font-style:italic;
}

.playarea {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.control-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    /* Your button styles */
    margin-right: 10px;
    margin-left: 10x;
}

.meter {
    /* Your meter styles */
    margin-top: 5px;
}

.meter-title {
    font-size:large;
}
